@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #1a94ff;

}
body a{
    text-decoration: none;
    color: black;
}
.searchTerm{
    position: relative;
    border-radius: 3px 0px 0px 3px;
}
.searchButton{
    position: absolute;
    border-radius: 0 3px 3px 0px;
}
.cart a, .login a{
    color: white;
}
header{
    border-bottom: 40px solid #f5f6fa;
}
main{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.boxleft{
    min-width: 20%;
    padding: 0px 30px;
    height: 165px;
    margin-right: 20px;
    border-bottom: 1px solid #ccc;

}
.boxright{
    min-width: 80%;
}
.main-content{
    min-height: 60px;
    border-bottom: 1px solid #ccc;
}
.nav-content{
    box-sizing: border-box;
    position: absolute;
}

.nav-content a{
    box-sizing: border-box;
    color: black;
    margin: 0 10px;
    padding-bottom: 20px;
}
.nav-content a:hover{
    color: blue;
    border-bottom: 4px solid blue;
}
.discount{
    border: 2px solid #FF424E;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #ffcccc;
}
footer{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 150px;
}
.footer-link{
    margin: 5px 0px;
}
.block-info{
    border-top: 1px solid #ccc;
}